* {
    border: 1px solid red;
}

.main-container {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 /3;
    background-color: #1A92D4;
    color: #FFFFFF;
}

.sidebar ul {
    padding: 0;
    list-style-type: none;
}

.sidebar-title {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    justify-content: start;
    gap: 20px;
}

.sidebar li {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    justify-content: start;
    gap: 20px;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.acct-info {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
}

.greeting {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acct-img.sm {
    max-width: 50px;
    width: auto;
    height: auto;
}

.acct-img.lg {
    max-width: 75px;
    width: auto;
    height: auto;
}

.dashboard-area {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    grid-template-rows: min-content 1fr;
}

.projects-area {
    grid-area: projects;
}

.announcements-area {
    grid-area: announcements;
}

.trending-area {
    grid-area: trending;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}